/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  width: 40%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 16px 0px #bfbfbf;

  align-items: center;
}
.heading {
  color: #0b69ff;
  font-weight: bold;
  font-size: 30px;
  font-family: roboto;
}
.description {
  color: #333333;
  font-size: 20px;
  font-family: roboto;
  width: 60%;
  text-align: center;
}

.button {
  color: #ffffff;
  background-color: #0b69ff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  border-width: 0px;
  margin-top: 20px;
}
.random-number {
  color: #0b69ff;
  font-size: 40px;
  font-family: roboto;
  font-weight: bold;
}
